
		body{
			background-image:url("img/fondo 2.jpg") ;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
		}
		h1{
			font-size: 50px;
			color: #48C9B0;
		}
		p{
			text-align: justify;
		}
		h3{
			color: #f235b3;
		}
		p{
			color: #f2251b;
		}